{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Přihlášení{% endblock title %}
{% endblock header %}

{% block content %}
        <form method="POST">
            <div class="sloupec_formulare">
                <label for="email">Email</label>
                <input name="email" id="email" required>
                <label for="password">heslo</label>
                <input type="password" name="password" id="password">
                <input class="ulozit" type="submit" value="přihlásit">
            </div>
        </form>
{% endblock content %}
