html 
{ 
    
    font-family: sans-serif; 
    box-sizing: border-box;
    padding: 1rem; 
    margin-top: 0;
}


.logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aqua;
    height: 100%;
}

.menu
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li
{
    margin-right: 10px;
}

.hlavicka
{
    text-align: center;
}

body 
{ 
    background: white;
    max-width: 950px; margin: 0 auto;
}

h1 
{ 
    font-family: serif; 
    color: rgb(182, 170, 170); 
    margin: 1rem 0; 
}

section h1 
{ 
    font-family: serif; 
    color: #3936db; 
    margin: 1rem 0; 
}

.info
{
    color: black;
    text-align: left;
}

a 
{ 
    color: #2b37a3;
    text-decoration: none;
}

hr 
{ 
    border: none; 
    border-top: 1px solid lightgray; 
}

nav 
{ 
    background: white; 
    display: flex; 
    justify-content: space-around;
     
    padding: 0 0.5rem; 
}

nav h1 
{ 
    flex: auto; 
    margin: 0; 
}

nav h1 a 
{ 
    text-decoration: none; 
    padding: 0.25rem 0.5rem; 
}

nav ul  
{ 
    display: flex; 
    justify-content: space-between;
    list-style: none; 
    margin: 0; padding: 0; 
}

nav .menu
{
    display: flex;
    
}



.content 
{ 
    padding: 0 1rem 1rem; 
}

.content > header 
{  
    display: flex; 
    align-items: flex-end;
}

.content > header h1 
{ 
    flex: auto; 
    margin: 1rem 0 0.25rem 0; 
}

.flash 
{ 
    margin: 1em 0; 
    padding: 1em;
    color: green;
    background: #bff3d1; 
    width: 100%;
    
}

.post > header 
{ 
    display: flex; 
    align-items: flex-end; 
    font-size: 0.85em; 
}

.post > header > div:first-of-type 
{ 
    flex: auto; 
}

.post > header h1 
{ 
    font-size: 1.5em; 
    margin-bottom: 0; 
}

.post .about 
{ 
    color: slategray; 
    font-style: italic; 
}

.post .body 
{ 
    white-space: pre-line; 
}

.content:last-child 
{ 
    margin-bottom: 0; 
}

.content form 
{ 
    margin: 1em 0; 
    display: flex; 
    flex-direction: column; 
}

.content label 
{ 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}

.content input, .content textarea 
{ 
    margin-bottom: 1em;
    min-width: 10em;
    max-width: 20em;
    border-radius: 5px;
    height: 20px;
}

.content textarea 
{ 
    min-height: 12em; 
    resize: vertical; 
}

input.danger 
{ 
    color: #cc2f2e; 
}

input[type=submit] 
{ 
    align-self: start; 
    min-width: 8em;
    background: rgb(213, 213, 245);
}

input[type=submit]:hover
{
    background: rgb(70, 100, 235);
    color: white;
}

input[type=button]
{
    align-self: start; 
    min-width: 8em; 
}

.tabulka
{
    width: 33%;
    padding: 10px;
}

table td, th
{
    border: solid 1px;
    width: 13em;
    
}

.novy_pojistenec a
{
    background: #1067a1;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;  
}

.novy_pojistenec a:hover
{
    background: #377ba8;
}
.novy_pojistenec
{
    text-align: center;
    padding: 20px;
}

article {    
    
    border: 1px solid white;
    margin: 10px 10px 0 10px;
    width: 500px;
    height: 200px;
}

img {
    float: left;
    padding-right: 20px;
    margin: 10px 0;
}

article h1 {
    font-size: 1.4em;
    margin-top: 40px;
    margin: 10;
}

article p {
    text-align: left;
    font-size: 1.2em;
}

.editovat
{
    background-color: yellowgreen;
    color: white;
    width: 7em;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.odstranit
{
    background-color: #cc2f2e;
    color: white;
    width: 7em;
    border-radius: 5px;
    padding: 5px;
}

.editovat:hover
{
    background-color: rgb(172, 212, 90);
}

.odstranit:hover
{
    background-color: red;
}

.vizitka
{
    display: flex;
    justify-content: space-between;
}