Čus vole tady musíš udělat eště hodně práce !!!!

{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %}Výpis pojištěnců{% endblock title %}
{% endblock header %}

{% block content %}
{% if g.user['name'] == 'David' %}
        <div><a class="novy_pojistenec" href="{{ url_for('create.create') }}">Nový pojištěnec</a></div>
{% endif %}

        <table>
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Bydliště</th>
                    <th></th>
                </tr>
            </thead>
            {% for user in users %}

            <table>
                <tr >
                    
                    <td><a href="{{ url_for('insurance.list_insurance', user_id=user['id']) }}">{{ user['name'] }} {{ user['surname'] }}</a></td>
                    <td>{{ user['street_descriptive'] }}, {{ user['city'] }}</td>
                    
                    
                    <td><form method="post" action="{{ url_for('update.insured_update', user_id=user['id']) }}">
                            <input type="hidden" name="id" value="{{ user['id'] }}">
                            <button type="submit">Editovat</button>
                        </form>
                        <form method="post" action="{{ url_for('update.insured_delete', user_id=user['id']) }}">
                            <input type="hidden" name="id" value="{{ user['id'] }}">
                            <button type="submit">Odstranit</button>
                        </form>
                    </td>
                </tr>
            </table>
        </table>
        {% endfor %}
{% endblock content %}