<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock title %} - David</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <div id="logo">
            <h1>PojištěníApp</h1>
        </div>
        <nav class='menu'>
            <ul>
                <li ><a href="{{url_for('extract.list')}}">Pojištěnci </a></li>           
            </ul> 
            {% if g.user %}
            <ul >    
                <li><span>{{ g.user['name'] }}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Odhlásit</a></li>
            </ul>
            {% else %}       
            <ul> 
                <li>Odhlášen</li>            
            </ul>
            {% endif %}
        </nav>
    </header>
    <article class="content">
        <header>
            {% block header %}{% endblock header %}
        </header>
        <section >
        
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock content %}
        </section>
        {% block footer %}
        {% endblock footer %}
</body>
</html>