<!doctype html>
<title>{% block title %}{% endblock title %} - David</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<nav>
    <h1>PojištěníApp</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['name'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Odhlásit</a>
        {% else %}        
            <li><a href="{{ url_for('auth.login') }}">Odhlášen</a>
                <p>{{ g.user['name'] }}</p>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock header %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock content %}
</section>