{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Nové pojištění{% endblock title %}</h1>
{% endblock header %}

{% block content %}
    <form method='post'>
        <label for="insurance">Typ pojištění</label><input name="insurance" id="insurance" required>
        <label for="amound">Čáska</label><input name="amound" id="amound" required>
        <label for="subject">Předmět pojištění</label><input name="subject" id="subject" required>
        <label for="valid_from">platnost od</label><input name="valid_from" id="valid_from" required>
        <label for="valid_until">platnost_do</label><input name="valid_until" id="valid_until" required>
        
        <input type="submit" value="přidat">
    </form>
{% endblock content %}