{% extends 'base.html' %}

{% block header %}
    <h1 class="info">{% block title %}Nový pojištěnec{% endblock title %}</h1>
{% endblock header %}

{% block content %}
    <form method='post' class="dva_sloupce">
        <div class="sloupec_formulare">
            <label for="name">Jméno</label>
            <input name="name" id="name" required>

            <label for="email">Email</label>
            <input name="email" id="email" required>
            
            <label for="street_descriptive">Ulice a číslo popisné</label>
            <input name="street_descriptive" id="street_descriptive" required>
            
        </div>
        <div class="sloupec_formulare">

            <label for="surname">Příjmení</label>
            <input name="surname" id="surname" required>
            
            <label for="tel">Telefon</label>
            <input name="tel" id="tel" required>
            
            <label for="city">Město</label>
            <input name="city" id="city" required>
            
            <label for="zip_code">PSČ</label>
            <input name="zip_code" id="zip_code" required>
            
            <input class="ulozit" type="submit" value="uložit">
        </div>
    </form>
    
    {% endblock content %}
    