{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %}Výpis pojištění </h1><a href="{{ url_for('extract.list') }}">Zpět na výpis pojištěnců</a>{% endblock title %}
{% endblock header %}

{% block content %}
{% if g.user['name'] == 'David' %}
        {% set user_id = user_name['id'] %}
        <div>{{url_for('insurance.create_insurance',user_id=user_id)}}</div>
        <div>{{user_id}}</div>
        <form method='post' action="{{url_for('insurance.create_insurance',user_id=user_id)}}">
        <input type='text' id='user_id' name='user_id' value="{{ user_name['id'] }}">
        </form>
        <a href="{{url_for('insurance.create_insurance',user_id=user_id)}}">Nové pojištění</a>


{% endif %}

        <table class="tabulka">
            <thead>
                <tr class="radky">
                    <th>{{ user_name['name'] }}</th>
                    <th>{{ user_name['surname'] }}</th>
                    <th>{{ user_name['email'] }}</th>
                    <th>{{ user_name['id'] }}</th>

                </tr>
            </thead>

            {% for post in posts %}

            <table  class="tabulka">
                <tr class="radky">
                    <td>{{ post['insurance'] }}</td>
                    <td>{{ post['amound'] }} - Kč</td>
                    <td>{{ post['subject'] }}</td>
                    <td>{{ post['valid_from'] }}</td>
                    <td>{{ post['valid_until'] }}</td>

                </tr>
            </table>
        </table>
        {% endfor %}
{% endblock content %}