{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %} {{ page_title }} {% endblock title %}</h1>
{% endblock header %}

{% block content %}
{% if g.user['name'] == 'David' %}
        {% set user_id = user_name['id'] %}

        
{% endif %}

<article>
    <header>
        <img src="{{ url_for('static', filename='image/foto.png') }}" alt="avatar" title="xicht">
    </header>
    <section>
        <h1>{{ user_name['name'] }} <th>{{ user_name['surname'] }}</h1>
        <p>{{ user_name['street_descriptive'] }}<br /> {{ user_name['city'] }}<br>{{ user_name['zip_code'] }}</p>
        
    </section>
</article>

        <table class="tabulka">
            <thead>
                <tr class="radky">
                    <th>Pojištění</th>
                    <th>Částka</th>
                    <th>Předmět pojištění</th>
                    <th>Platnost od</th>
                    <th>Platnost do</th>
                    

                </tr>
            </thead>

            {% for post in posts %}

            <table  class="tabulka">
                <tr class="radky">
                    <td>{{ post['insurance'] }}</td>
                    <td>{{ post['amount'] }} - Kč</td>
                    <td>{{ post['subject'] }}</td>
                    <td>{{ post['valid_from'] }}</td>
                    <td>{{ post['valid_until'] }}</td>
                    
                    
                </tr>
            </table>
        </table>

        

        {% endfor %}
        
        <input type="button" value="Zpět" onclick="window.history.back()">
{% endblock content %}