{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Edit{% endblock title %}</h1>
{% endblock header %}


{% block content %}
<form method='post'>
    <label for="name">Jméno</label><input name="name" id="name" required value="{{ edit.name }}">
    <label for="surname">Příjmení</label><input name="surname" id="surname" required value="{{ edit.surname }}">
    <label for="email">Email</label><input name="email" id="email" required value="{{ edit.email }}">
    <label for="tel">Telefon</label><input name="tel" id="tel" required value="{{ edit.tel }}">
    <label for="street_descriptive">Ulice a číslo popisné</label><input name="street_descriptive" id="street_descriptive" required value="{{ edit.street_descriptive }}">
    <label for="city">Město</label><input name="city" id="city" required value="{{ edit.city }}">
    <label for="zip_code">PSČ</label><input name="zip_code" id="zip_code" required value="{{ edit.zip_code }}">
    <input type='hidden' name='user_id' value="{{ user_id }}">
    <input type="submit" value="uložit"><input type="button" value="Zpět" onclick="window.history.back()">
</form>
{% endblock content %}